.mainDiv {
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #fff;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 496px;
}

.inputWrapper {
  width: 100%;
}

.uploadButtonWrapper {
  width: 100%;
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-end;
}

.footerBox {
  display: flex;
  width: 100%;
  margin-left: auto;
  gap: 12px;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
}

.addImage {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;

  span {
    color: #737E8C;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}